@import "tailwindcss";

:root {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  line-height: 1.5;
  color: #e5e7eb;
  background: linear-gradient(to bottom right, #1f2937, #111827);
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: linear-gradient(to bottom right, #1f2937, #111827);
  min-height: 100vh;
}

a {
  font-weight: 800;
  color: #1ABC9C;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #1ABC9C;
}

button {
  font-family: inherit;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.02);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}